<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
        <link href="public/css/home.css" rel ="stylesheet" type="text/css">
    </head>
    <body>
        <!-- タイトルヘッダーを作る -->
        <script src="public/js/make_header.js" type="text/javascript"></script>

        <div class="main-body">
            <ul>
                <li><a href="http://localhost:3000/show-home">ショーページ一覧</a></li>
                <li><a href="http://localhost:3000/entertainer-home">キャストページ一覧</a></li>
                <li><a href="http://localhost:3000/administrator-home">ショー管理（要ログイン）</a></li>
            </ul>
        </div>
        
        
        <!-- ページリンク、遷移 -->
        <!-- <script type="text/javascript" src="../server.js"></script> -->
        <!-- DB更新 -->
        <!-- <script type="text/javascript" src="../database.js"></script> -->
    </body>


</html>