<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        <!-- タイトルヘッダーを作る -->
        <script src="public/js/make_header.js"></script>

        <aside>
            <ul>
                <li><a href="http://localhost:3000/show">ショーページ一覧</a></li>
                <li><a href="http://localhost:3000/entertainer">キャストページ一覧</a></li>
                <li><a href="http://localhost:3000/administrator">ショー管理（要ログイン）</a></li>
            </ul>
        </aside>

        <% var kind = "";
            if (kind_org === "/show"){
                kind = "show";
            }else if(kind_org === "/entertainer"){
                kind = "entertainer"
            }else if(kind_org === "/administrator"){
                kind = "administrator"
            }
        %>

        <div class="main-body"> 
            <main>
                <h2 id="sub-title">
                    <% if(kind_org === "/show") { %> 
                        ショー一覧
                    <% } else if(kind_org === "/entertainer"){ %>
                        キャスト一覧
                    <% } else if(kind_org === "/administrator"){ %>
                        管理者ページ
                    <% } %>
                </h2>
                <ul>
                    <% for(let i = 0; i < list.length; i++){
                        if(kind_org === "/show"){
                            var link = 'http://localhost:3000' + kind_org + '/' + list[i].show_id;
                            var name = list[i].show_name
                        }else if(kind_org === "/entertainer"){
                            var link = 'http://localhost:3000' + kind_org + '/' + list[i].entertainer_id;
                            var name = list[i].entertainer_name
                        }else if(kind_org === "/administrator"){
                            var link = 'http://localhost:3000' + kind_org + '/' + list[i].show_id;
                            var name = list[i].show_name
                        }%>
                        <li>
                            <a href= <%= link %> >
                            <%= name %> 
                            </a>
                        </li>
                    <%}%>
                    <% if(kind_org == "/administrator"){ %>
                        <li>
                            <a href="http://localhost:3000/administrator/show-reqest">新ショー登録申請</a>
                        </li>
                    <% } %>
                </ul>
            </main>
        </div>
    </body>
</html>