<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        <!-- タイトルヘッダーを作る -->
        <script src="public/js/make_header.js"></script>

        <aside>
            <ul>
                <li><a href="http://localhost:3000/show">ショーページ一覧</a></li>
                <li><a href="http://localhost:3000/entertainer">キャストページ一覧</a></li>
                <li><a href="http://localhost:3000/administrator">ショー管理（要ログイン）</a></li>
            </ul>
        </aside>

        <% var kind = "";
            if (kind_org === "/show"){
                kind = "show";
            }else{
                kind = "entertainer"
            }
        %>

        <div class="main-body"> 
            <main>
                <h2 id="sub-title">
                    <% if(kind_org === "/show") { %> 
                        ショー一覧
                    <% } else{ %>
                        キャスト一覧
                    <% } %>
                </h2>
                <ul>
                    <% if(kind_org === "/show") {
                        var sql = "entertainment_show";
                    }else{
                        var sql = "entertainer"; 
                    }%>
                    <% con.query('SELECT name FROM ' + sql + ';',function(error,response){
                        for(let i = 0; i < response.length; i++){
                            const name = response[i].name;  %>
                            <li>
                                <%= name %> 
                            </li>
                        <% }
                    }); %>
                </ul>
            </main>
        </div>
    </body>
</html>