<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        <!-- タイトルヘッダーを作る -->
        <script src="public/js/make_header.js"></script>

        <aside>
            <ul>
                <li><a href="http://localhost:3000/show-home">ショーページ一覧</a></li>
                <li><a href="http://localhost:3000/entertainer-home">キャストページ一覧</a></li>
                <li><a href="http://localhost:3000/administrator-home">ショー管理（要ログイン）</a></li>
            </ul>
        </aside>

        <% var kind = ""; %>
        <%if (kind_org === "/show-home"){%>
            <%kind = "show";%>
        <%}else if(kind_org === "/entertainer-home"){%>
            <%kind = "entertainer"%>
        <%}else if(kind_org === "/administrator-home"){%>
            <%kind = "administrator"%>
        <%}%>

        <div class="main-body"> 
            <main>
                <h2 id="sub-title">
                    <% if(kind_org === "/show-home") { %> 
                        ショー一覧
                    <% } else if(kind_org === "/entertainer-home"){ %>
                        キャスト一覧
                    <% } else if(kind_org === "/administrator-home"){ %>
                        管理者ページ
                    <% } %>
                </h2>
                <input type="text" id="search" placeholder="search">
                <ul id="list">
                    <% for(let i = 0; i < list.length; i++){ %>
                        <% if(kind_org == "/show-home"){ %>
                            <% var link = 'http://localhost:3000/show?show_id=' + list[i].show_id; %>
                            <% var name = list[i].show_name %>
                        <% }else if(kind_org == "/entertainer-home"){ %>
                            <% var link = 'http://localhost:3000/entertainer?entertainer_id=' + list[i].entertainer_id; %>
                            <% var name = list[i].entertainer_name %>
                        <% }else if(kind_org == "/administrator-home"){ %>
                            <% var link = 'http://localhost:3000/show-admin?show_id=' + list[i].show_id; %>
                            <% var name = list[i].show_name %>
                        <% }%>
                        <li id=<%= i  + "-li"%>>
                            <a href = <%= link %> >
                            <%= name %> 
                            </a>
                        </li>
                    <%}%>
                    <% if(kind_org == "/administrator-home"){ %>
                        <li>
                            <a href="http://localhost:3000/administrator/show-reqest">新ショー登録申請</a>
                        </li>
                    <% }else if(kind_org = "/entertainer-home"){ %>
                        <li>
                            <a href="http://localhost:3000/entertainer/new-ent">新キャスト登録申請</a>
                        </li>

                    <% } %>
                </ul>
                <script type="text/javascript">
                    let bar = document.getElementById("search");
                    bar.addEventListener("keydown",() => {
                        let text = bar.value;
                        let list = document.getElementById("list").children
                        if(text != ""){
                            for(let i= 0;i<list.length;i++){
                                let li = document.getElementById(i + "-li");
                                if(li.innerText.includes(text)){
                                    li.style.display = "";
                                }else{
                                    li.style.display = "none";
                                }
                            }
                        }else{
                            for(let i= 0;i<list.length;i++){
                                let li = document.getElementById(i + "-li");
                                li.style.display = "";
                            }
                        }
                    });
                </script>
            </main>
        </div>
    </body>
</html>