<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            <div class="title">
                <h2><%= show_name %> 新ポジション登録</h2>
            </div>
            <form action=<%= "http://localhost:3000/show-admin/create-position?show_id=" + show_id %> method="post">
                <div id="info">
                    <h3>＜ポジションが増えた　公演の日時＞</h3>
                    <input type="datetime-local" name="time" require>
                </div>
                <div id="new-roll">
                    <h3>新ポジション登録</h3>
                    <p>すでに登録されているポジションと同じ名前で登録することはできません。表記を分けて登録してください（〇〇１,〇〇２など）</p>
                    <br>
                    <p style="display:inline-block">ポジション名：</p>
                    <input type="text" name="position_name" id="position_name">
                    <br>
                    <select name="ent_name" id="all_cast">
                        <option value="0" > 不明 </option>
                        <% all_cast.forEach(cast => { %>
                            <option value=<%=cast.entertainer_id %> > <%= cast.entertainer_name %> </option>
                        <% });%>
                    </select>
                    <br>
                    <p>新しいポジションで新人キャストがデビューした場合はこちらに入力</p>
                    <input type="text" name="ent_name_text" id="ent_name_text">
                </div>
                <button name="send" type="submit" onSubmit="return check_Unregistered">追加</button>
            </form>

            <script type="text/javascript">
                function check_Unregistered(){
                    const all_cast = document.getElementById("all_cast").options;
                    let input_name = document.getElementById("ent_name_text").value;
                    for(let cast of all_cast){
                        if(input_name == cast.label){
                            alart("入力されたキャスト名は既に使用されています");
                            return false
                        }
                    }
                    return ture
                };
            </script>
            
        </main>
   </body>
</html>