<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <div class="title">
            <h2><%= show_name %></h2>
        </div>
        <div class="main">
            <h3 id="calendar_title"></h3>
            <table border="2">
                <thead>
                    <!-- 今月の日付 -->
                    <tr id="calendar">

                    </tr>
                </thead>
                <tbody>
                    <!-- 一行目はthでヘッダー扱いにして役名一覧 -->
                </tbody>

        </div>
        <script src="../public/js/make_show_calendar.js" type="text/javascript"></script>
   </body>
</html>