<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            
            <div class="title">
                <h2><%= show_name %></h2>
            </div>
            <div class="main">
                <h3 id="calendar_title"></h3>
                <table border="2">
                    <thead>
                        <tr id="calendar">
                            <th> 役/日</th>
                            <!-- 日付生成 -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 一行目はthでヘッダー扱いにして役名一覧 -->
                        <% for(var i = 0; i< rolls.length ; i++ ) {%>
                            <tr>
                                <th>
                                    <%= rolls[i] %>
                                </th>
                                <!-- ここにシフトの内容を入れる -->
                                 <% for(var t = 0; t < shift[rolls[i]].length; t++){%>
                                 <td>
                                    <%for(var day=1; )
                                    <% if(day ==  shift[rolls[i]][t].d ){
                                    }%>
                                 </td>
                                <%};%>
                            </tr>
                            <% }; %>
                    </tbody>

            </div>
            <script src="../public/js/make_show_calendar.js" type="text/javascript"></script>
        </main>
   </body>
</html>